Tutoriales/Tutorial_4_PyTest_TDD/Ejemplos/__pycache__
Tutoriales/Tutorial_4_PyTest_TDD/Ejercicios/ejercicio1/__pycache__
Tutoriales/Tutorial_4_PyTest_TDD/Ejercicios/ejercicio2/__pycache__
Tutoriales/Tutorial_4_PyTest_TDD/Ejercicios/ejercicio5/__pycache__
